<h1>Welcome to Beer Brand Tracker</h1>
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> select option</h3>
        </div>
        <div class="panel-body">
          <div class="btn-group btn-group-justified">
            <a href="/beers/new" class="btn btn-primary">
            <i>Add a New Beer</i>
            </a>
            <a href="/favorites/" class="btn btn-success">
            <i>View My Favorites</i>
            </a>

            <a href="/searchword/" class="btn btn-warning">
             <i>Search by Word Tags</i>
            </a>

            <a href="/searchcatagory/" class="btn btn-danger">
             <i>Search by Catagory</i>
            </a>
          </div>
        </div>
      </div>
    </div>
   